:root {
   --pink: #eb548c;
   --yellow: #fed730;
   --blue: #1a2152;
   --orange: #f47b20;
   --cyan: #00b3ab;
}


.pinkf {
   color: var(--pink);
}

.pinkbg {
   background-color: var(--pink);
}

.yellowf {
   color: var(--yellow);
}

.yellowbg {
   background-color: var(--yellow);
}

.bluef {
   color: var(--blue);
}

.bluebg {
   background-color: var(--blue);
}

.orangef {
   color: var(--orange);
}

.orangebg {
   background-color: var(--orange);
}

.cyanf {
   color: var(--cyan);
}

.cyanbg {
   background-color: var(--cyan);
}

.whitef {
   color: #ffffff;
}

.whitebg {
   background-color: #ffffff;
}
