@import "./reset.css";
@import "./../fonts/ac/Acumin Pro ExtraCondensed Med.css";
@import "./../fonts/k/k.css";
@import "./colors.css";
@import "./typography.css";

body {
   overflow-x: hidden;
}

section#btf > article {
   min-height: 600px;
   padding: 12px;
}

#wrapper {
   display: grid;
   grid-template-areas:
      "header"
      "intro"
      "content";
}

header#hoverHeader {
   position: fixed;
   width: 100vw;
   display: grid;
   grid-template-columns: 6fr auto 1fr;
   grid-template-areas:
      "logo . menu";
   grid-area: header;
}

header#hoverHeader div#logo {
   grid-area: logo;
}

header#hoverHeader div#logo img {
   width: 90px;
   height: 150px;

}

header#hoverHeader div#menu {
   grid-area: menu;
   cursor: pointer;
   padding-top: 12px;
}

header#hoverHeader div#menu img {
   width: 60px;
}

section#abtf {
   grid-area: intro;
   height: 100vh;
   width: 100vw;
}

section#abtf article#intro {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   align-content: center;
   justify-content: center;
   width: 50vw;
   height: 100vh;
   margin: 0 auto;

}

section#abtf article#intro > * {
   align-self: center;
}

section#abtf article#intro > p {
   font-size: 27px;
}

section#btf {
   grid-area: content;
}

section#btf article#testimonials div.siema div {
   width: 72vw;
   margin: 0 auto;
   padding-top: 12px;

}
/*
section#btf article#testimonials div.siema div blockquote {
   background-color: var(--cyan);
}*/

section#btf article#testimonials div.siema div blockquote p {
   font-size: 33px;
   color: var(--blue);
   /*text-shadow: 1px 1px 0px var(--blue);*/
   text-shadow: 1px 3px 1px var(--pink);
}

section#btf article#testimonials div.siema div blockquote cite {
   background-color: var(--blue);
   font-size: 18px;
}

section#btf article#services  {
   width: 100vw;
}

section#btf article#services span {
   display: block;
   width: 54vw;
   margin: 12px auto;
   font-family: 'k';
   font-size: 33px;
   font-variant: small-caps;
   text-transform: capitalize;
   text-align: center;
}

article#contact {
   width: 100vw;
}

article#contact div#contactForm {
   width: 75vw;
   margin: 12px auto;
}

article#contact div#contactForm form {
   width: 100%;
}

article#contact div#contactForm form > .ours {
   width: 100%;
   border: 3px solid #ffffff;
   margin-bottom: 6px;
   background-color: var(--blue);
   box-sizing: border-box;
}



article#contact div#contactForm form input[type=text], article#contact div#contactForm form input[type=email] {
   min-height: 45px;
   padding: 12px 21px;
   font-family: 'v';
   font-size: 18px;
}

article#contact div#contactForm form textarea {
   height: 100px;
   padding: 12px 21px;
   font-family: 'v';
   font-size: 18px;
}

button {
   cursor: pointer;
   text-transform: uppercase;
}

section#btf article#services div {
   border: 6px solid #fff;
   width: 81vw;
   margin: 0 auto;
   padding: 6px;
}

section#btf article#services div p {
   font-size: 24px;
   text-transform: capitalize;
}

section#btf article#services div ul {
   width: 75vw;
   margin-left: 30px;
}

section#btf article#about {
   width: 100vw;
}

section#btf article#about div {
   width: 75vw;
   text-align: center;
   line-height: 1.5;
   margin: 0 auto;
}
section#btf article#about div p {
   font-size: 24px;

}
